<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mox.mapper.comment.AoaLoveDiscussUserMapper">
  <resultMap id="BaseResultMap" type="com.mox.entity.comment.AoaLoveDiscussUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="discuss_id" jdbcType="BIGINT" property="discussId" />
    <id column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
</mapper>