<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mox.mapper.AoaNotepaperMapper">
  <resultMap id="BaseResultMap" type="com.mox.entity.paper.AoaNotepaper">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="notepaper_id" jdbcType="BIGINT" property="notepaperId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="notepaper_user_id" jdbcType="BIGINT" property="notepaperUserId" />
    <result column="concent" jdbcType="LONGVARCHAR" property="concent" />
  </resultMap>
</mapper>